{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Practica DAI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static "css/theme.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    {#    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">#}

{#    <link rel="stylesheet" href="{% static "fonts/glyphicons-halflings-regular.svg" %}">#}
    <script src="{% static "js/npm.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
</head>
<body>
    <div id="wrap">
        {% include 'includes/nav.html' %}
        {% block contenido %}

        {% endblock %}

    </div>
        {% include 'includes/footer.html' %}
</body>
</html>
